/* Preformatted text styling */
pre { 
    text-align: justify;
    border-radius: 0.5rem;
    white-space: pre-wrap;
    max-width: 100%;
    margin: var(--mb-2) 0;
    font-family: var(--body-font);
    font-size: large;
    color: var(--second-color);
    line-height: 1.6;
}

/* Paragraph styling */
p {
    text-align: justify;
    margin: var(--mb-2) 0;
    font-family: var(--body-font);
    font-size: large;
    color: var(--second-color);
    line-height: 1.6;
}

.image-container {
    display: flex;
    justify-content: center;
}
