/* Preformatted text styling */
pre, p {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    padding: 1rem;
    white-space: pre-wrap; /* Wrap lines to prevent overflow */
    overflow-x: auto;      /* Add horizontal scrolling if needed */
    max-width: 100%;       /* Ensure it doesn't exceed the screen width */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}